$primary: #fa2d48;
$info: #f4d35e;
$dark: #1f1f1f;
$light: rgba(255, 255, 255, 0.85);

$body-bg: $dark;
$body-color: $light;

$table-bg: $body-bg;
$table-accent-bg: lighten($table-bg, 3%);

$table-color: $light;
$table-border-color: darken($body-color, 70%);

$input-bg: $body-bg;
$input-focus-box-shadow: 0 0 0.3rem 0rem lighten($body-bg, 20%);
$input-focus-border-color: darken($light, 50%);
$input-color: darken($light, 50%);
$input-border-color: lighten($body-bg, 10%);

$input-group-addon-color: darken($light, 50%);
$input-group-addon-bg: lighten($body-bg, 3%);
$input-group-addon-border-color: lighten($body-bg, 10%);

$font-size-base: 0.8rem;

@import '~bootstrap/scss/bootstrap';

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.3rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.4rem;
  }
}

// Route transitions
.my-fade-enter {
  opacity: 0;
  //transform: scale(0.9);
}
.my-fade-enter-active {
  opacity: 1;
  //transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.my-fade-exit {
  opacity: 1;
}
.my-fade-exit-active {
  opacity: 0;
  //transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
